@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
#__next {
  position: relative;
}

.formInput:before {
  display: block;
  position: absolute;
  height: 1px;
  content: "";
  border-bottom: 2px solid #40909b;
  bottom: 0;
  left: 50%;
  width: 0;
}
header h1 {
  text-shadow: -2px 2px 5px #cdcdcd;
}
.formInput:after {
  display: block;
  position: absolute;
  content: "";
  border-bottom: 2px solid #40909b;
  bottom: 0;
  right: 50%;
  width: 0;
}

.inputActive:before,
.inputActive:after {
  -webkit-animation: testing 0.5s ease;
  animation-fill-mode: forwards;
}
.inputActive:after {
  border-left: 2px solid #40909b;
}
.inputActive::before {
  border-right: 2px solid #40909b;
}
@keyframes testing {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
/* .inputActive:before {
  height: 35px;
  border-right: 2px solid #40909b;
  transition: height 0.5s ease;
  transition-delay: 0.5s;
} */
.formstep_bullet {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}
.formstep {
  position: relative;
  color: gray;
}
.formstep::before {
  content: "";
  border: 1px solid grey;
  position: absolute;
  width: 100%;
  bottom: 12.5px;
  right: 50%;
}
.formstep:first-of-type::before {
  width: 0%;
}
.formstep_bullets {
  overflow: hidden;
}

.formstep.active {
  color: black;
}
.formstep.active::before {
  border-color: #40909b;
}
.formstep.active .formstep_bullet {
  border-color: #40909b;
  background-color: #40909b;
}
.formstep.error {
  color: red;
}
.images .image {
  width: 166%;
}

.images .image {
  right: -35%;
  top: -35%;
}
.images:nth-of-type(2) .image {
  left: -30%;
  top: -50%;
}
